// Animates transparent layer
@keyframes top {
  from {
    height: 5px;
  }
  to {
    height: $heroItemHeight;
  }
}

@keyframes bottom {
  from {
    height: 5px;
  }
  to {
    height: 60px;
  }
}

// Animates transparent layer bg image
@keyframes opacityanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
