// Colour band themes (todo: create mixin)
.orange {
  .sp {
    background: #f26c4f;
  }
  .content button {
     color: #f26c4f;
     background: #fff;
     border: 5px solid #f26c4f;
  }
  .content {
    background: rgba(33, 33, 33, 0.6);
  }
  .center-region {
    background: rgba(33, 33, 33, 0.6);
  }
}

.green {
  .sp {
    background: #4ce996;
  }
  .content button {
     color: #4ce996;
     background: #fff;
     border: 5px solid #4ce996;
  }
  .content {
    background: rgba(33, 33, 33, 0.6);
  }
  .center-region {
    background: rgba(33, 33, 33, 0.6);
  }
}

.pink {
  .sp {
    background: #f24f94;
  }
  .content button {
     color: #f24f94;
     background: #fff;
     border: 5px solid #f24f94;
  }
  .content {
    background: rgba(33, 33, 33, 0.6);
  }
  .center-region {
    background: rgba(33, 33, 33, 0.6);
  }
}

.yellow {
  .sp {
    background: #f2ce4f;
  }
  .content button {
     color: #f2ce4f;
     background: #fff;
     border: 5px solid #f2ce4f;
  }
  .content {
    background: rgba(33, 33, 33, 0.6);
  }
  .center-region {
    background: rgba(33, 33, 33, 0.6);
  }
}

.teal {
  .sp {
    background: #4fd1f2;
  }
  .content button {
     color: #4fd1f2;
     background: #fff;
     border: 5px solid #4fd1f2;
  }
  .content {
    background: rgba(33, 33, 33, 0.6);
  }
  .center-region {
    background: rgba(33, 33, 33, 0.6);
  }
}