@keyframes top {
  from {
    height: 5px;
  }
  to {
    height: 43em;
  }
}
@keyframes bottom {
  from {
    height: 5px;
  }
  to {
    height: 60px;
  }
}
@keyframes bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes herobg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes herocontent {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.orange .sp {
  background: #f26c4f;
}
.orange .center-region {
  background: rgba(33, 33, 33, 0.6);
}

.green .sp {
  background: #4ce996;
}
.green .center-region {
  background: rgba(33, 33, 33, 0.6);
}

.pink .sp {
  background: #f24f94;
}
.pink .center-region {
  background: rgba(33, 33, 33, 0.6);
}

.yellow .sp {
  background: #f2ce4f;
}
.yellow .center-region {
  background: rgba(33, 33, 33, 0.6);
}

.teal .sp {
  background: #4fd1f2;
}
.teal .center-region {
  background: rgba(33, 33, 33, 0.6);
}

nav a, p, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  font: 75%/1.8em arial;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-top: 6em;
  position: relative;
  margin: 3em auto;
  overflow: hidden;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/contemporary_china_2.png");
}

.hero {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 0;
}
.hero.active {
  opacity: 1;
}
.hero.active .right-region, .hero.active .left-region {
  opacity: 1;
}
.hero.active .content {
  left: 0;
  opacity: 1;
}
.hero.active .content button {
  margin-left: 0;
  opacity: 1;
}
.hero .right-region, .hero .left-region {
  opacity: 0;
  transition: all 0.9s ease;
  -webkit-transition-delay: 0.3s;
  /* Safari */
  transition-delay: 0.3s;
}
.hero .right-region .bg, .hero .left-region .bg {
  transition: all 0.9s ease;
  -webkit-transition-delay: 0.3s;
  /* Safari */
  transition-delay: 0.3s;
  background-position: -248px 0%;
  background-repeat: no-repeat;
}
.hero .left-region .bg {
  right: -992px;
  background-position: 248px 0%;
}
.hero.invert .right-region .bg {
  background-position: -290px 0%;
}
.hero.invert .left-region .bg {
  background-position: 200px 0%;
}
.hero.invert.active .content {
  right: 0;
  left: auto;
}

.hero-item {
  width: 100%;
  height: 43em;
}
.hero-item .content {
  max-width: 400px;
  position: absolute;
  left: 320px;
  top: 2em;
  padding: 2em;
  margin: 5em 2em 0 2em;
  opacity: 0;
  z-index: 999;
  color: #333;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.5em;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.3s;
  /* Safari */
  transition-delay: 0.3s;
}
.hero-item .content button {
  padding: 0.6em 1em;
  margin-left: 6em;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: #e44852;
  background: #fff;
  border: 2px solid #e44852;
  opacity: 0;
  cursor: pointer;
  transition: margin 0.8s ease 0.4s, background 0.4s ease 0s;
}
.hero-item .content button:hover {
  background: #e44852;
  color: #fff;
}
.hero-item.invert .content {
  right: 320px;
  left: auto;
  text-align: right;
}

.left-region,
.center-region,
.right-region {
  float: left;
  transition: all 0.4s ease;
  text-align: left;
}

.right-region,
.left-region {
  height: 43em;
  overflow: hidden;
  position: relative;
}
.right-region .bg,
.left-region .bg {
  width: 1240px;
  height: 43em;
  position: absolute;
  top: 0;
}

.right-region {
  float: right;
}

nav {
  width: 100%;
  padding-top: 32em;
  margin: 0 auto;
  clear: both;
}
nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
nav li {
  width: 20%;
  position: relative;
  background: #fff;
  border-right: 1px solid #ccc;
}
nav li:first-child {
  border-left: 1px solid #ccc;
}
nav li.active .close {
  display: block;
}
nav li.active .hat {
  display: none;
}
nav li .close, nav li .hat {
  width: auto;
  min-height: 0;
  padding: 0;
  position: absolute;
  right: 0.8em;
  top: 0.8em;
  display: none;
  font-weight: bold;
  color: #fff;
  font-size: 2em;
}
nav li .hat {
  display: block;
  top: 1em;
  color: #ccc;
}
nav li, nav a {
  min-height: 5em;
  display: block;
  float: left;
}
nav a {
  width: 100%;
  padding-right: 12em;
  padding-top: 0.6em;
  padding-left: 0.9em;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
nav a .ltext {
  padding: 0.4em;
  color: #000;
  position: absolute;
  left: 0.5em;
  top: 8px;
  font-size: 1.6em;
  transition: top 0.4s ease;
  -webkit-transition-delay: 0.1s;
  /* Safari */
  transition-delay: 0.1s;
}
nav a .ltbg {
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.4s;
  /* Safari */
  transition-delay: 0.4s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
}
nav a .sp {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.2s ease-out;
  z-index: 10;
}
nav a .sp.sp1 {
  bottom: 60px;
}
nav a .sp.sp2 {
  height: 7px;
  bottom: auto;
  top: 0;
}
nav a .sp.sp1, nav a .sp.sp2, nav a .sp.ltbg {
  opacity: 0.8;
}
nav li.active a span.ltext {
  color: #fff;
  top: -280px;
}
nav li.active a span.sp1 {
  animation: top 0.4s forwards;
}
nav li.active a span.sp2 {
  animation: bottom 0.4s forwards;
}
nav li.active a span.ltbg {
  animation: top 0.3s forwards, bg 0.4s 0.4s forwards;
}
nav .ltbg {
  background-position: 0 0;
}
nav .invert .ltbg {
  background-position: -62px 0;
}

/*# sourceMappingURL=style.css.map */
