@import "animations";
@import "colors";

// Site styles
body {
  padding: 0;
  margin: 0;
  font: 75%/1.8em arial;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-top: 6em;
  position: relative;
  margin: 3em auto;
  overflow: hidden;
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/contemporary_china_2.png');
}

// Specific to hero only
.hero {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 0;
  
  &.active {
    opacity: 1;
    .right-region, .left-region {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      opacity: 1;
    }
    .content {
      left: 0;
      opacity: 1;
      button {
        margin-left: 0;
        opacity: 1;
      }
    }
  }

  .right-region, .left-region {
    opacity: 0;
    transition: all 0.9s ease;
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
    background: url('http://www.dccomics.com/sites/default/files/styles/get_to_know_x493/public/gettoknow_loislane_572ce58442e206.54278591.png?itok=A2I--Q_r') no-repeat -430px 100%;
  }

  &.invert {

    .right-region, .left-region {
      background-position: 430px 100%;
    }

    &.active {
      .content {
        right: 0;
        left: auto;
      }
    }

  }

}

.hero-item {
  width: 100%;
  height: 43em;

  .content {

    max-width: 400px;
    position: absolute;
    left: 320px;
    top: 2em;
    padding: 2em;
    margin: 5em 2em 0 2em;
    opacity: 0;

    color: #333;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;

    transition: all 0.8s ease;
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;

    button {
      padding: 0.6em 1em;
      margin-left: 6em;
      font-size: 0.8em;
      font-weight: bold;
      text-transform: uppercase;
      color: #e44852;
      background: #fff;
      border: 2px solid #e44852;
      opacity: 0;

      transition: all 0.8s ease;
      -webkit-transition-delay: 0.4s; /* Safari */
      transition-delay: 0.4s;

    }

  }

  &.invert {
    .content {
      right: 320px;
      left: auto;
      text-align: right;
    }
  }

}

// Hero content regions
.left-region,
.center-region,
.right-region {
  float: left;
  transition: all 0.4s ease;
  text-align: left;
}

.right-region,
.left-region {
  height: 43em;
  overflow: hidden;
  position: relative;
}

.right-region {
  float: right;
}

// Specific to menu only
nav {
  width: 100%;
  padding-top: 32em;
  margin: 0 auto;
  clear: both;
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  li {
    width: 20%;
    position: relative;
    background: #fff;
    border-right: 1px solid #ccc;
    
    &:first-child {
      border-left: 1px solid #ccc;
    }

    &.active .close {
      display: block;
    }

    &.active .hat {
      display: none;
    }

    .close, .hat {
      width: auto;
      min-height: 0;
      padding: 0;
      position: absolute;
      right: 0.8em;
      top: 0.8em;
      display: none;
      font-weight: bold;
      color: #fff;
      font-size: 2em;
    }

    .hat {
      display: block;
      top: 1em;
      color: #ccc;
    }

  }

  li, a {
    min-height: 5em;
    display: block;
    float: left;
  }

  a {
    width: 100%;
    padding-right: 12em;
    padding-top: 0.6em;
    padding-left: 0.9em;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    .ltext {
      padding: 0.4em;
      color: #000;
      position: absolute;
      left: 0.5em;
      top: 8px;
      font-size: 1.6em;
      z-index: 999;
      transition: top 0.4s ease;
      -webkit-transition-delay: 0.1s; /* Safari */
      transition-delay: 0.1s;
    }
    .ltbg {
      transition: all 0.8s ease;
      -webkit-transition-delay: 0.4s; /* Safari */
      transition-delay: 0.4s;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url('http://www.dccomics.com/sites/default/files/styles/get_to_know_x493/public/gettoknow_loislane_572ce58442e206.54278591.png?itok=A2I--Q_r') no-repeat -220px 100%;
    }
    .sp {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      transition: all 0.2s ease-out;
      &.sp1 {
        bottom: 60px;
      }
      &.sp2 {
        height: 7px;
        bottom: auto;
        top: 0;
      }
      &.sp1, &.sp2, &.ltbg {
        opacity: 0.8;
      }
    }
  }

  li.active a span {
    &.ltext {
      color: #fff;
      top: -280px;
    }
    &.sp1 {
      animation: top 0.4s forwards;
    }
    &.sp2 {
      animation: bottom 0.4s forwards;
    }
    &.ltbg {
      animation: top 0.3s forwards, bg 0.4s 0.4s forwards;
    }
  }

  .invert .ltbg {
      background-position: -340px 100%;
  }

}